#fh5co-logo a {
     color: black;
     position: relative;
     text-decoration: none;
 }
 #fh5co-logo a:hover, #fh5co-logo a:focus {
     color: #00BCD4 !important;
     text-decoration: none;
 }
 #map {
    width: 100%;
    height: 440px;
    position: relative;
}
 .sf-menu a {
     color: rgb(0 0 0 / 50%);
     padding: 2.4em 1.3em !important;
     text-transform: uppercase;
     letter-spacing: 1px;
     border-left: none;
     border-top: none;
     border-top: none;
     text-decoration: none;
     zoom: 1;
     font-size: 13px;
     border-bottom: none !important;
 }
 .sf-menu a:hover, .sf-menu a:focus, .sf-menu a.active {
     color: #000000 !important;
 }
 .row {
    margin-left: 0px;
    margin-right: 0px;
}